 .dropdown {
        display: inline-flexbox;
        color: olivedrab, orchid;
        width: 145px;
        position: right;
        float: right;
        
      }
      .dropdown-content {
        display: none;
        position: right;
        width: 145px;
        overflow: auto;
        box-shadow: 0px 10px 10px 0px rgba(16, 8, 59, 0.548);
        color: olivedrab, orchid;
      }
      .dropdown:hover .dropdown-content {
        display: block;
      }
      .dropdown-content a {
        display: block;
        color: #000000;
        padding: 5px;
        text-decoration: none;
      }
      .dropdown-content a:hover {
        color: #23b679;
        background-color: #5f0653;
      }

body{
    font-size: 26;
    font-style: oblique;
    font-weight: bold;
    text-decoration: dimgrey, wavy;
    margin:4.2069%;
    text-align: center;
    background-color: olivedrab;
    }